<h2>Component Events</h2>
<hr>

<form action="" class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="search">
    <button class="btn btn-outline-success">Search</button>
  </div>
</form>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>Theme</th>
      <th>Local</th>
      <th>Date</th>
      <th>Num People</th>
      <th>Batch</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td>{{ event.eventId }}</td>
      <td>{{ event.imageUrl }}</td>
      <td>{{ event.theme }}</td>
      <td>{{ event.local }}</td>
      <td>{{ event.eventDate }}</td>
      <td>{{ event.numPeople }}</td>
      <td>{{ event.batch }}</td>
      <td></td>
    </tr>
  </tbody>
</table>



